body {
  background-color: #172b4d;
}

.container {
  margin: 0 auto;
  width: 315px;
  height: 4810px;
  background-color: #fff;
  background-image: url(./Graphics/header-shapes\ mobile.png);
  /* fixed the path */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.banner h1,
p {
  margin: 5px;
}

.status {
  align-self: flex-start;
}

.elements {
  margin-top: -20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.item {
  order: 1;
  margin-top: 65px;
}

.logo {
  align-self: flex-start;
  font-family: "poppins", sans-serif;
  height: 25px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #6070ff;
  text-decoration: none;
}

ul {
  margin-left: -35px;
}

li {
  list-style-type: none;
}

.social {
  display: flex;
  list-style: none;
}

.social img {
  height: 20px;
  margin-right: 20px;
}

.icon {
  transition: all 0.2s ease;
}

.icon:hover {
  margin-top: -5px;
  width: fit-content;
}

.icon:enabled {
  transform: rotate(320deg);
}

.harmburger img {
  width: 24px;
}

.greeting {
  /* width: 317px;
  height: 120px; */
  font-family: 'poppins', sans-serif;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  order: 0;
  margin-bottom: 45px;
}

.content {
  /* width: 327px;
  height: 126px; */
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  flex-grow: 0;
  order: 0;
  margin-bottom: 30px;
}

.connect {
  width: 157px;
  height: 24px;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  order: 0;
  flex-grow: 0;
}

.work {
  position: relative;
  top: 80px;
}

.portfolio {
  width: 100%;
  border-radius: 16px;
}

.work .two,
.work .four {
  border: 2px solid #dfe1e6;
}

.projectTitle {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
}

.subtitle {
  display: flex;
  flex-wrap: wrap;
  margin-left: -35px;
  height: 10px;
}

.subtitle li {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 13px;
  margin-top: -20px;
}

.canopy {
  color: #344563;
  margin-right: 10px;
}

.backend,
.year {
  margin-left: 10px;
  margin-right: 10px;
  color: #7a869a;
}

.work .description {
  width: 295px;
  margin-top: -80px;
  font-weight: 400;
  color: #344563;
  font-size: 15px;
  font-family: "poppins", sans-serif;
}

.work .madewith {
  display: flex;
}

.html,
.css,
.js {
  margin-right: 10px;
  padding: 4px 12px;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  border: 2px solid #ebebff;
  border-radius: 8px;
  background-color: #ebebff;
  color: #6070ff;
}

.seeproject {
  font-family: "poppins", sans-serif;
  margin-top: 30px;
  border: 2px solid #396df2;
  color: #396df2;
  background-color: #fff;
  width: fit-content;
  border-radius: 16px;
  padding: 12px 16px;
}

.space {
  margin: 150px;
}

.multi {
  width: 285px;
}

.about-me {
  display: flex;
  flex-direction: column;
}

.about-me .text {
  color: #172b4d;
  font-family: "poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  width: 267px;
  line-height: 50px;
}

.work .get-resume {
  font-family: "poppins", sans-serif;
  border: 2px solid #396df2;
  width: fit-content;
  color: #396df2;
  padding: 10px 12px;
  border-radius: 8px;
}

.language-header,
.frameworks-header,
.skills-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.language-header li {
  font-family: "poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.toggle {
  width: 16px;
  height: 8px;
  position: relative;
  right: 35px;
}

.languages {
  font-family: "poppins", sans-serif;
}

.languages .js-container,
.html-container,
.css-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 2px solid #f7f7f9;
  border-radius: 8px;
  width: 100%;
  background-color: #f7f7f9;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.javascript,
.html5,
.css3 {
  position: relative;
  top: 3px;
  left: 10px;
  color: #253858;
}

.frameworks-header li,
.skills-header li {
  font-family: "poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.toggle-right {
  position: relative;
  right: 35px;
}

.line {
  border: 1px solid #dfe1e6;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  border: 2px solid #6070ff;
  border-top-left-radius: 100px;
  background-color: #6070ff;
  height: auto;
}

.contact-container input {
  background: #FFFFFF;
  border: 1px solid #CFD8DC;
  border-radius: 8px;
  height: 48px;
  width: 273px;
  left: 0px;
  margin-top: 15px;
  border-radius: 8px;

}

.contact-container h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.contact-container p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #EBEBFF;
}

.contact-container textarea {
  background: #FFFFFF;
  border: 1px solid #CFD8DC;
  border-radius: 8px;
  width: 273px;
  height: 170px;
  margin-top: 18px;
}

.contact-container button {
  width: 140px;
  height: 48px;
  border-radius: 8px;
  background: #FFFFFF;
  margin-top: 22px;
}