body{
  background-color: #172b4d;
}
.container {
  margin: 0 auto;
  width: 315px;
  height: 710px;
  background-color: #fff;
  background-image: url(./Graphics/header-shapes\ mobile.png);
  background-size: contain;
  background-position: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.status {
  align-self: flex-start;
}

.elements {
  margin-top: -20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.item {
  order: 1;
  margin-top: 65px;
}

.logo {
  align-self: flex-start;
  font-family: "poppinsbold";
  height: 25px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #6070ff;
}

.harmburger img {
  width: 24px;
}

.harmburger img:hover {
  background-color: green;
  width: 24px;
  color: green;
}

.greeting {
  width: 317px;
  height: 120px;
  font-family: 'poppinsbold';
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  order: 0;
}

.content {
  width: 327px;
  height: 126px;
  font-family: 'poppinsregular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  order: 0;
}

.connect {
  width: 157px;
  height: 24px;
  font-family: 'poppinsregular';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8Cff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.social {
  display: flex;
}

.social img {
  height: 20px;
  margin-right: 20px;
}
